.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formRow {
  display: flex;
  justify-content: space-between;
}

.results {
  display: block;
  text-align: center;
  margin: 30px 0 15px;
}